
.gallery {
    width: 200vw;
    height: 200vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10em;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row:nth-child(2){
    justify-content: space-around;
    padding: 10em;
}

.video-container {
    transform: scale(2);
    transition: 0.3s all;
}

.video-container >  div {
    opacity: 0;
    transition: 0.3s
}

.item:hover .video-container > div {
    opacity: 1;
}